.currentMonster {
    background-color: cornflowerblue;
    border: 2px solid black;
    color: white;
}

.monster {
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
}

.message {
    font-weight: bold;
    font-size: 18px;
}

.log {
    height: 100px;
    overflow-y: auto;
}